# Create your tokens at https://github.com/settings/tokens

## Public token to fetch repository on production
export GH_READONLY_TOKEN=

## Private token to edit repository on local. Don't use in public!!!
export GH_WRITE_TOKEN=

## Target repository
export GH_REPO_OWNER=
export GH_REPO_NAME=
