$clr-1: hsl(14, 89%, 66%);
$clr-1-l: hsl(14, 89%, 76%);
$clr-1-d: hsl(14, 89%, 56%);

$clr-2: hsl(186, 51%, 81%);
$clr-2-l: hsl(186, 51%, 91%);
$clr-2-d: hsl(186, 51%, 71%);

$clr-w: hsl(0, 0%, 95%);
$clr-w-l: hsl(0, 0%, 97%);
$clr-w-ll: hsl(0, 0%, 100%);
$clr-w-d: hsl(0, 0%, 90%);
$clr-w-dd: hsl(0, 0%, 80%);

$clr-b: hsl(0, 0%, 30%);
$clr-b-l: hsl(0, 0%, 45%);
$clr-b-ll: hsl(0, 0%, 60%);
$clr-b-d: hsl(0, 0%, 15%);
$clr-b-dd: hsl(0, 0%, 0%);

$clr-smrn: hsl(209, 30%, 50%);
$clr-smrn-l: hsl(209, 30%, 60%);
$clr-smrn-d: hsl(209, 30%, 40%);
